:root {
  --warna1: #beadfa;
  --warna2: #272829;
  --warna3: #61677a;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}
.navbar {
  background-color: var(--warna1);
}
.aktif{
  background-color: var(--warna1)!important;
  color: white!important;
}
footer {
  background-color: var(--warna3);
}
.img-thumbnail {
  width: 200px;
  height: 200px;
}
